# Homework 3: Introduction to R
Curated by Sabah Ul-Hasan, Huitian Dao, and Andrew Su

Homeworks are due every Tuesday at 8 AM PST.<br>
Download your homework as a pdf for TAs to provide feedback: HW#_LastName.PDF<br>
Make sure to save your work constantly so the efforts don't get lost!

In this assignment, you will <br>
A3.aa Soliday your understanding of weeks 1-2 <br>
A3.ab Execute basic commands in R using Jupyter notebook <br>
A3.ba Execute operations onto objects in R using Jupyter notebook <br>
A3.bb Solidfy your understanding of R by practice

### A3.aa: Solidfy knowledge gained by teaching and troubleshooting [20-30 min] Group of 3 
1. Code review: Take turns briefly talking through your code and process (3-5 min), then spend the remaining time discussing the different approaches you may have taken to get to the same end-goal. What were the interesting aspects you learned from each other? Share your notes below. Additionally include specific notes on your navigation through the HPC and process of Git. 
2. For the last 5 minutes on your own, think of a suggestion of something you would've liked to learn in relation to these topics that we didn't cover.

### A3.ab: Execute basic commands in R using Jupyter notebook [20-30 min] Individual
#### ab.i Understanding R and syntax<br>
1. Why are we using R compared to other languages we've learned (bash, and *some* python)? What is its utility in the context of biology and applied bioinformatics?
2. Why are we using R in Jupyter notebook vs running basic R on its own or in RStudio? Briefly describe the distinctions between each of these, and their utility.
3. Describe the different objects commonly used for R syntax. What is an example of when you might use each?

#### ab.ii Practicing R syntax<br>
4. Assign the phrase "Hello, world" to a string. Title the string, 'phrase'. Print the phrase, and include how you would identify what type of string it is. *note unlike with the python script and ```%%bash``` you can denote the question number at the start of the cell
5. Use R commands/functions to identify your current working directly, analogous to how we did this with bash. After you identify the current working directly, set it to our data folder. Include comments to describe what is happening at each step for an outside user. 

#### ab.iii Developing good habits (on your own time)<br>
6. Follow and complete the two tutorials. Use this space to take notes of what you learned <br>
https://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/index.html <br>
https://swcarpentry.github.io/r-novice-inflammation/06-best-practices-R/
7. Reflections: On an integer scale of 1-5, 1 being very easy and 5 being the most difficult, where would you rank today's exercises? Provide brief notes on what was easy vs difficult, and why. <br>

In [7]:
# 4
phrase <- "Hello, world!"
print(phrase)
class(phrase)

[1] "Hello, world!"

[1] "character"

In [14]:
# 5
getwd() # outputs current directory
setwd('-/data') # sets directory to data folder
getwd() # shows update of current directory

[1] "/Users/sulhasan/Downloads/Applied-Bioinformatics/Homework/data"

[1] "/Users/sulhasan/Downloads/Applied-Bioinformatics/Homework/data"

### A3.ba: Execute operations onto objects in R using Jupyter notebook [20-30 min] TPS
[15 min on your own]
1. Make a vector containing days of the week, from Monday to Sunday. Use a for loop to print "Hello world, it's Xday!" for each day of the week. Comment on how this for loop may differ or compare to the loops created using bash.
2. Create a matrix with 50 numbers, with 5 column and 10 rows, and print it.
3. Count the number of even digits in the first 100 digits of pi. Convert these digits into a matrix. Briefly describe your approach to finding the constant for pi, what other constants are available in R?
[15 min together]
4. Discuss and compare your scripts, troubelshoot together. What did you learn that you didn't already know from what you had tried?

In [17]:
# 1
days <- c("Satur", "Sun", "Mon", "Tues", "Weds", "Thur", "Fri")
print(days)

for(var in days)
 {
  cat("Hello world, its", var,"day!\n")
 }

[1] "Satur" "Sun"   "Mon"   "Tues"  "Weds"  "Thur"  "Fri"
Hello world, its Satur day!
Hello world, its Sun day!
Hello world, its Mon day!
Hello world, its Tues day!
Hello world, its Weds day!
Hello world, its Thur day!
Hello world, its Fri day!

In [27]:
# 2
my.matrix <- matrix(1:50, nrow=10, ncol=5)
print(my.matrix)

      [,1] [,2] [,3] [,4] [,5]
 [1,]    1   11   21   31   41
 [2,]    2   12   22   32   42
 [3,]    3   13   23   33   43
 [4,]    4   14   24   34   44
 [5,]    5   15   25   35   45
 [6,]    6   16   26   36   46
 [7,]    7   17   27   37   47
 [8,]    8   18   28   38   48
 [9,]    9   19   29   39   49
[10,]   10   20   30   40   50

In [23]:
# 3
print(pi)

# tbd
# Assign even numbers to a list
# count list
i <- 1
count <- 0
while(i <= 100) {
    if(i%%3 == 0) {
        print(i)
        count <- count + 1
    }
    i <- i+1
}
count

my.matrix <- matrix(pi, nrow=10, ncol=10)
print(my.matrix)

[1] 3.141593

[1] 0

          [,1]     [,2]     [,3]     [,4]     [,5]     [,6]     [,7]     [,8]
 [1,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
 [2,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
 [3,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
 [4,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
 [5,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
 [6,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
 [7,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
 [8,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
 [9,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
[10,] 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416 100.1416
          [,9]    [,10]
 [1,] 100.1416 100.1416
 [2,] 100.1416 100.1416
 [3,] 100.1416 100.1416
 [4,] 100.1416 100.1416
 [5,] 100.1416 100.1416
 [6,] 100.1416 100.1416
 [7,] 100.1416 100.1416
 [8,] 100.1416 100.1416
 [9,] 100.1416 100.1416
[10,] 100.1416 100.1416

### A3.bb Solidfy your understanding of R by practice [20-30 min] Individual
1. Create a dataframe to record information for an animal experiment animals. Name the dataframe's columns. Make gender of animals a nominal variable. comment your code at each step to describe what's happening
#### Animal info: <br>
Names: Fluf1, Fluf2, Fluf3, Fluf4, Fluf5, Fluf6, Fluf7, Fluf8 <br>
Number: 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110 <br>
Weight: 19, 18, 23, 22, 17, 18, 21, 20 <br>
Treated: TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE <br>
Sex: Female, Female, Male, Male, Female, Female, Male, Male <br>
2. Describe the structure of the dataframe. Hint: Create an R script to do this

In [30]:
# 1

names <- paste(rep("Fluf", each=8), 1:8, sep="") # 8 names are created with a number at the end
numbers <- c(7103:7110) # integers are assigned
weights <- c(19, 18, 23, 22, 17, 18, 21, 20) # weights are assigned in order
treatments <- c(TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE, FALSE) # treatments assigned in order
sex <- c("Female", "Female", "Male", "Male","Female", "Female", "Male", "Male")
sex <- factor(sex) # sex assign in order, and need to be a factor
summary(sex) # shows set ouput
exp.animals <- data.frame(Name=names, Number=numbers, Weight=weights, Treatment=treatments, Sex=sex) # creates df
exp.animals # prints df

Female   Male
     4      4

  Name  Number Weight Treatment Sex
1 Fluf1 7103   19      TRUE     Female
2 Fluf2 7104   18      TRUE     Female
3 Fluf3 7105   23     FALSE     Male
4 Fluf4 7106   22     FALSE     Male
5 Fluf5 7107   17      TRUE     Female
6 Fluf6 7108   18     FALSE     Female
7 Fluf7 7109   21      TRUE     Male
8 Fluf8 7110   20     FALSE     Male

In [28]:
# 2
str(exp.animals)
class(exp.animals$Name)
class(exp.animals$Number)
class(exp.animals$Weight)
class(exp.animals$Treatment)
class(exp.animals$Gender)

'data.frame':	8 obs. of  5 variables:
 $ Name     : chr  "Fluf1" "Fluf2" "Fluf3" "Fluf4" ...
 $ Number   : int  7103 7104 7105 7106 7107 7108 7109 7110
 $ Weight   : num  19 18 23 22 17 18 21 20
 $ Treatment: logi  TRUE TRUE FALSE FALSE TRUE FALSE ...
 $ Gender   : Factor w/ 2 levels "Female","Male": 1 1 2 2 1 1 2 2

[1] "character"

[1] "integer"

[1] "numeric"

[1] "logical"

[1] "factor"

In [ ]:

Create a for loop that will take a vector containing the weight of food that is given, and print out if the food is enough / more than enough / too little.

In [ ]:
Nutella needs to be fed with 5 grams of rodent diet everyday.
*Please create a for loop that will take a vector containing the weight of food that is given, and print out if the food is enough / more than enough / too little.
*Create a vector with TRUE or FALSE for the output, if the food is enough or more then TRUE, else FALSE.

In [ ]:


food.weight <- c(7,3,5,6,10,5,6)
food.enough <- logical(length=length(food.weight))
food.enough

for (i in c(1:length(food.weight))){
    if(food.weight[i] > 5){
        print("This is too much")
        food.enough[i] <- TRUE
        
    }
    else if(food.weight[i] == 5){
        print("Perfect")
        food.enough[i] <- TRUE
    }
    else {
        print("This is too little")
        food.enough[i] <- FALSE
    }
}

food.enough